.wrapper
{
  width: 900px;
}

.char-count
{
  height: 40px;
  width: 40px;

  margin-left: 64%;
  margin-top: -40px;
}

#char-count-step2
{
  height: 40px;
  width: 40px;

  margin-left: 56%;
  margin-top: -40px;
}

.textarea
{
width: 620px;
height: 320px;
font-size: 16px;
border-color: blue;
resize: none;
}

.resizenonetextarea
{
  width: 600px;
  resize: none;
  border-color: blue;
}

#car-type
{
  width: 60px;
}

.criteria-size
{
  width: 60px;
}

#buttonlogout
{

}

#textareastep2
{
	width: 1000px;
	height: 600px;
	font-size: 16px;
	border-color: red;
	resize: none;
}

table.borderless td,table.borderless th {
     border: none !important;
}

#test
{
  float: right;
  margin-top: -200px;
  margin-right: 130px;
}

html
{
	visibility:hidden;

}

body{
  background-color: #F6FFFF;
}

#tabs{

}

#step1instructions
{
  font-size: 20px;
}


.accordion .ui-accordion-header
{

}



.vert-align {
   text-align: center;
}

.centertext
{
  text-align: center;
  margin-top: -30px;

}

#alertstop{

}

.numberofchallenges{
  color: red;
}

.redbackground
{
  background-color: red;
}

#headertext{
  text-decoration: underline;
}
